# pixi environments
.pixi/*
!.pixi/config.toml

# Data and DB directories
data/*
!data/.gitkeep

# Saved models
models/*
!models/.gitkeep

# Cache directories
**/*__pycache__*

# .env (unused for now)

.env

#  Claude directory
.claude/*