# pixi environments
.pixi/*
!.pixi/config.toml

# Data and DB directories

db/*
data/*

# Cache directories
**/*__pycache__*

# .env (unused for now)

.env

# Added by cargo

/target
data/df.csv
script_win.py